* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'segoe ui', sans-serif;
  overflow: auto;
  overflow: hidden;
}

.wrapper {
  position: absolute; /* Changed position to absolute */
  top: 0;
  left: 0;
  width: 100%; /* Changed width to 100vh */
  height: 100vh; /* Changed height to 100vh */
  z-index: -1;
  background-image: url(pic-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  filter: blur(2px);
}

.content {
  position: relative;
  padding: 2rem;
  text-align: center;
  color: rgb(255, 255, 255);
  animation-name: fadeInDown;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(-50px);
}

.heading {
  font-size: 3rem;
  color: lightorange;
  margin-bottom: 2rem;
}

.history {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: justify;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: black;
  position: block;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

.button-27 {
  left: 35px;
  appearance: none;
  background-color: transparent;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  margin-left: 50px;
  will-change: transform;
}


.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
@media (max-width: 600px) {
  body{
    overflow: hidden;
  }
  .heading {
    font-size: 2.5rem;
  }
  
  .history {
    font-size: 1.2rem;
    padding-top: 30vh;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media (min-width: 601px) and (max-width: 758px) {
  .history {
    padding-top: 8vh;
  }
}

@media (min-width: 759px) {
  .history {
    padding-top: 16em;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
